
<div class="row justify-content-center">
  <div class="main-testy col-md-3 col-sm-1 col-xs-1 col-lg-3">
    <div class="title-testy">
      <b>Leadership </b>
    </div>
    <div class="content-testy">
      Nos leaders sont les architectes du changement. Ils inspirent, guident et soutiennent
      nos équipes pour atteindre l'excellence.
      Nous croyons en un leadership qui favorise la croissance personnelle et professionnelle de chacun.
    </div>
  </div>

  <div class="main-testy col-md-3 col-sm-1 col-xs-1 col-lg-3">
    <div class="title-testy">
      <b>Innovation </b>
    </div>
    <div class="content-testy">
      Chez FreeTech4U, l'innovation est notre passion.
      Nous encourageons la créativité et nous sommes constamment
      à la recherche de nouvelles idées pour améliorer nos produits et services.
    </div>
  </div>

  <div class="main-testy col-md-3 col-sm-1 col-xs-1 col-lg-3">
    <div class="title-testy">
      <b>Intégrité</b>
    </div>
    <div class="content-testy">
      L'intégrité est la pierre angulaire de notre entreprise.
      La confiance de nos clients, partenaires et employés est notre priorité absolue.
    </div>
  </div>
  <div class="main-testy col-md-3 col-sm-1 col-xs-1 col-lg-3">
    <div class="title-testy">
      <b>Adaptabilité </b>
    </div>
    <div class="content-testy">
      L'adaptabilité est inscrite dans notre ADN.
      Face aux changements rapides du marché, nous restons agiles,
      nous ajustons nos stratégies et nous apprenons continuellement pour rester leader.
    </div>
  </div>
</div>
