<div class="main-header">
  <div >
    <img class="header-logo" src="assets/images/logoFreetech4U.png" alt="FREETECH4U"/>
  </div>

  <div class="menu-box">
    <span class="menu-title">Home</span>
  </div>

  <div class="menu-box">
    <span class="menu-title">Nos Services</span>
    <div class="sub-menu">
      <span class="sub-menu-item">Développement de Logiciels</span>
      <span class="sub-menu-item">Consulting</span>
      <span class="sub-menu-item">Développement Web/Mobile</span>
      <span class="sub-menu-item">Formation</span>
    </div>
  </div>
  <div class="menu-box">
    <span class="menu-title">Nos valeurs</span>
  </div>
  <div class="menu-box">
    <span class="menu-title">Contact</span>
  </div>
</div>




